.Country {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.Country h2 {
  margin-bottom: 5px;
  font-size: 20px;
}

.Country h3 {
  margin-top: 0;
  font-size: 15px;
  font-weight: 300;
}

.Country img {
  margin-right: 10px;
  width: 110px;
  height: 70px;
}
