.link {
  text-decoration: none;
}

.card {
  padding: 1.7rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2);
  height: 195px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-avatar {
  --size: 53px;

  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 0.8rem;
}

.card-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-title {
  color: #f57a2a;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 7px;
}

.card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}

.card:hover {
  box-shadow: 0 8px 50px rgba(245, 122, 42, 0.2);
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-social {
  transform: translateY(90%);
  opacity: 1;
}

.card-avatar:hover {
  transform: scale(1.1);
}

.card-social button {
  font-family: inherit;
  font-size: 16px;
  background: #f57a2a;
  color: white;
  padding: 0.4em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.card-social button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.card-social button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.card-social button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.card-social button:hover svg {
  transform: translateX(1.6em) rotate(45deg) scale(1.1);
}

.card-social button:hover span {
  transform: translateX(5em);
}

.card-social button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@media only screen and (max-width: 768px) {
  .Country img {
    margin-right: 10px;
    width: 80px;
    height: 70px;
  }
}
