/* stylelint-disable no-descending-specificity */
.Home {
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

.Home-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  position: relative;
  right: 40px;
}

.Home-intro img {
  height: 310px;
  width: 25%;
  min-width: 200px;
  margin-right: 18px;
}

.Home-text h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.Home-text p {
  font-size: 17.5px;
  margin-top: 0;
}

.countries-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 35px 11% 100px;
  gap: 40px;
}

.search {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.search__input {
  font-family: inherit;
  font-size: 14px;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.65rem 1rem;
  border-radius: 30px;
  width: 17.5em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

@media only screen and (max-width: 550px) {
  .countries-grid {
    grid-template-columns: 1fr;
  }

  .Home-intro {
    right: 0;
  }

  .Home-intro img {
    height: 250px;
    width: 200px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1160px) {
  .countries-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 35px 6% 100px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
  .countries-grid {
    grid-template-columns: 1fr 1fr;
    padding: 35px 6% 100px;
  }

  .Home-intro img {
    height: 250px;
    width: 200px;
    margin-right: 10px;
  }
}
