nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 25px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(245, 122, 42, 0.2);
}

nav h2 {
  margin: 0;
}

nav .continent {
  font-weight: 300;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}
